.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
  font-family: var(--font-header);
  overflow: hidden;
  min-height: 500px; 
  width: 100%;
}

.quote {
  max-width: 1000px;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  line-height: 1.6;
  text-align: center;
  z-index: 2;
  position: relative;
  margin: auto;
  max-height: 11rem;
}

.quote-title {
  padding: 0;
  font-weight: 500;
}

.quote-text {
  font-size: 2.1rem;
  line-height: 1.5;
  font-weight: 480;
  font-family: var(--font-main);
  font-style: italic;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
  pointer-events: none;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.23);
}

@media (max-width: 768px) {
  .hero {
    min-height: 40vh;
  }

  .hero::after {
    height: 50px;
  }

  .quote {
    width: 95%;
    padding: 1.5rem;
  }

  .quote-title {
    font-size: 5.5rem;
    margin-bottom: 0.8rem;
  }

  .quote-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .hero {
    max-height: 30vh;
  }

  .quote-title {
    font-size: 2rem;
  }

  .quote-text {
    font-size: 1.2rem;
  }
}