.content-about {
  font-family: var(--font-main);
  font-size: var(--font-size-body);
  line-height: 1.8;
  color: var(--color-text-dark);
  display: flex;
}

.content-about-image {
  flex: 0 0 auto;
  margin-right: 2rem;
}

.content-about-img {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.80;
}

@media (max-width: 768px) {
  .content-about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-about-image {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.content-about-text-title {
  font-size: var(--font-size-section-title);
  margin-bottom: 1rem;
  opacity: 0.85;
}

.content-about-text-body {
  margin-bottom: 1.5rem;
}

.content-about-text-signature {
  font-size: 2rem;
  margin-top: 2rem;
  color: #555;
}

.content-about-text-profession {
  font-style: italic;
  color: #777;
  margin-bottom: 1.5rem;
}