.content-about {
  font-family: var(--font-main);
  font-size: var(--font-size-body);
  line-height: 1.8;
  color: var(--color-text-dark);
  display: flex;
}

.content-about-image {
  flex: 0 0 auto;
  margin-right: 2rem;
}

.content-about-img {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.80;
}



.content-about-text-title {
  font-size: var(--font-size-section-title);
  margin-bottom: 1rem;
  opacity: 0.85;
}

.content-about-text-body {
  margin-bottom: 1.5rem;
}

.content-about-text-signature {
  font-size: 2rem;
  margin-top: 2rem;
  color: #555;
}

.content-about-text-profession {
  font-style: italic;
  color: #777;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .content-about {
    display: block; /* Change from flex to block */
  }
  
  .content-about-image {
    float: left; /* Float image to the left */
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  
  .content-about-img {
    width: 120px;
    max-width: 120px;
  }

  .content-about-text-title {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
  }
  
  .content-about-text-body {
    font-size: 0.85rem;
    text-align: center;
  }
  
  .content-about-text-profession {
    text-align: left;
    font-size: 0.8rem;
  }
  
  .content-about-text-signature {
    font-size: 1.5rem;
    text-align: left;
    clear: left; /* Ensures signature appears below image if needed */
  }
}