.title-subtitle {
  font-size: var(--font-size-subtitle);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.7;
  /* margin: 0rem; */
  margin-top: 0;
  position: relative;
  overflow: hidden;
  color: var(--color-secondary);
}

.title-title {
  font-size: var(--font-size-page-title);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  opacity: 0.85;
  margin: 0;
  position: relative;
  overflow: hidden;
  color: var(--color-text-dark);
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .title-title {
    font-size: 1.9rem;
  }

  .title-subtitle {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
}