.contact {
  font-family: var(--font-main);
  /* background-color: #fff; */
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain;
  
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem 0;
}